<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Juegos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Juegos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let juego of juegos" [routerLink]="['../../new-partida',juego.titulo]">
    <img [src]="juego.foto" />
    <ion-card-header>
      <ion-card-title>{{ juego.titulo }}</ion-card-title>
    </ion-card-header>
  </ion-card>

</ion-content>
